{% extends 'base.html.twig' %}

{% block title %}Editer l'article{% endblock %}

{% block body %}
    <h1>Editer l'article</h1>

    {{ include('pages/admin/article/_form.html.twig', {'button_label': 'Modifier'}) }}

    {{ include('pages/admin/article/_delete_form.html.twig') }}

    <a href="{{ path('app_home') }}">Retourner à l'accueil</a>
{% endblock %}
